.list-post-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 20px; 
    justify-content: center;
    margin-top: 1rem;
}
.noPosts{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}