.cardPost {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  width: fit-content;
}
.cardPost img {
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #ece4d9;
  width: 100%;
}
.card-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  margin: 24px 32px 24px 32px;
}
.cardPost .typeIcons {
  max-width: 24px;
  margin-right: 8px;
  border: none;
}
.Available {
  background-color: #e9ede9;
}
.Available a {
  text-decoration: none;
  color: #214720;
}
.Available .card-text p {
  text-decoration: none;
  color: #214720;
}
.Lender {
  background-color: #2147201a;
}
.Lender a {
  text-decoration: none;
  color: #214720;
}
.Give {
  background-color: #5299d31a;
}
.Give a {
  text-decoration: none;
  color: #5299d3;
}
.Give .card-text p,
.Give .card-text h2,
.Give .card-text h3 {
  color: #5299d3;
}
.Needed {
  background-color: #faefe6;
  color: #b64d01;
}
.Needed a {
  text-decoration: none;
  color: #b64d01;
}
.Needed .card-text p,
.Needed .card-text h2,
.Needed .card-text h3 {
  color: #b64d01;
}

.post-title {
  font-weight: 500;
  line-height: 24px; /* 120% */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.post-city {
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.post-type-category {
  font-size: 16px;
  font-weight: 500;
  line-height: 113.5%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.typeIconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
}
.typeIconsWrapper p {
  font-size: 16px;
}

.cardPost :hover {
  transform: translateY(-3px);
  opacity: 0.9;
}
