.detail-post-container {
  margin: 2rem 0;
  height: 100%;
}

.go-back {
  color: #214720;
  text-decoration: none;
  margin: 32px 50px;
  display: block;
}

.detail-post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  background-color: #ece4d9;
  padding: 50px 50px 25px 50px;
  width: 48%;
  border-radius: 20px;
}
.detail-post-wrapper.Available {
  background-color: #d3dad2;
}
.detail-post-wrapper.Needed {
  background-color: #f5decd;
}

.detail-post-wrapper.Needed p,
.detail-post-wrapper.Needed h2 {
  color: #cc5803;
}

.detail-post-wrapper.Give {
  background-color: #dcebf6;
}

.detail-post-wrapper.Give p,
.detail-post-wrapper.Give h2 {
  color: #5299d3;
}

.detail-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
  gap: 40px;
  flex-grow: 1;
}
.img-container {
  display: flex;
  width: 48%;
  border-radius: 20px;
  object-fit: cover;
  flex-grow: 1;
  border: 2px solid #ece4d9;
}
.img-container img {
  border-radius: 20px;
  width: 100%;
}
.detail-text-container {
  margin-top: 40px;
}
.type {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 113.5%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-top: 8.5px;
}
.medium-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 29px;
}
.small-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 4px;
}
.facebook {
  margin-top: 29px;
}
