.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ece4d9;
  border-radius: 20px;
  padding: 40px 50px 40px 50px;
  position: relative;
}
.logo {
  text-decoration: none;
  color: #214720;
}
.navBar li {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  text-decoration: none;
}
.browse {
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #214720;
  color: #214720;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.create {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #214720;
  color: white;
  text-decoration: none;
  border: 2px solid #214720;
}
.about-link {
  text-decoration: none;
  color: #214720;
}
h1,
h2,
h3,
h4,
p {
  text-decoration: none;
  color: #214720;
}

.navBar .active {
  text-decoration: underline;
}

.navBar.sidebar {
  width: 250px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .menu-icon {
    display: block;
  }
  .navBar {
    position: absolute;
    right: 40px;
    top: 80px;
    background-color: #fbfaf7;
    width: 0px;
    height: calc(280px - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    padding-top: 24px;
    border-radius: 20px;
  }
  .navBar ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
