.filter {
  display: inline-flex;
  gap: 16px;
  margin: 32px 0px;
}
.filter select {
  width: 297px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #214720;
  background: #fff;
  align-self: center;
}
