.hero-navbar-container {
  width: 100%;
  padding: 32px 52px;
  background-color: #2147201a;
  border-radius: 20px;
  overflow: scroll;
}
.hero-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hero-navbar ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; /* Ensure the list takes up the full width */
}
.hero-navbar li {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.hero-navbar .navlink {
  text-decoration: none;
  color: #214720;

  max-height: 52px;

  text-align: center;
}
.navLink-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding: 0px 25px;
  border-right: 1px solid #214720;
}

#last {
  border: none;
}
