.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  color: #214720;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.footer a {
  text-decoration: none;
  color: #214720;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.socialMedia {
  display: flex;
  gap: 1rem;
  color: #214720;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}
