@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@600&family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fahkwang", sans-serif;
  overflow-wrap: break-word;
}

p {
  font-family: "Poppins", sans-serif;
  overflow-wrap: break-word;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

input,
button,
textarea,
select,
label {
  font: inherit;
}
